<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lcddreams.monsters" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Monsters</name>
    <description>
        A Lovecraft themed monster killing game.
    </description>
    <author email="dave@lcddreams.com" href="http://www.lcddreams.com/monsters">
        LCD Dreams
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="www/img/icons/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="www/img/icons/ios/icon-60@1x.png" width="60" />
        <icon height="120" src="www/img/icons/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="www/img/icons/ios/icon-76@1x.png" width="76" />
        <icon height="152" src="www/img/icons/ios/icon-76@2x.png" width="152" />
        <icon height="228" src="www/img/icons/ios/icon-76@3x.png" width="228" />
        <icon height="80" src="www/img/icons/ios/icon-40@1x.png" width="40" />
        <icon height="80" src="www/img/icons/ios/icon-40@2x.png" width="80" />
        <icon height="120" src="www/img/icons/ios/icon-40@3x.png" width="120" />
        <icon height="57" src="www/img/icons/ios/icon-57@1x.png" width="57" />
        <icon height="114" src="www/img/icons/ios/icon-57@2x.png" width="114" />
        <icon height="72" src="www/img/icons/ios/icon-72@1x.png" width="72" />
        <icon height="144" src="www/img/icons/ios/icon-72@2x.png" width="144" />
        <icon height="167" src="www/img/icons/ios/icon-167@1x.png" width="167" />
        <icon height="29" src="www/img/icons/ios/icon-29@1x.png" width="29" />
        <icon height="58" src="www/img/icons/ios/icon-29@2x.png" width="58" />
        <icon height="87" src="www/img/icons/ios/icon-29@3x.png" width="87" />
        <icon height="50" src="www/img/icons/ios/icon-small-50@1x.png" width="50" />
        <icon height="100" src="www/img/icons/ios/icon-small-50@2x.png" width="100" />
        <icon height="20" src="www/img/icons/ios/icon-20@1x.png" width="20" />
        <icon height="40" src="www/img/icons/ios/icon-20@2x.png" width="40" />
        <icon height="60" src="www/img/icons/ios/icon-20@3x.png" width="60" />
        <splash src="www/img/screens/ios/Default@2x~universal~anyany.png" />
        <splash src="www/img/screens/ios/Default@2x~universal~comany.png" />
        <splash src="www/img/screens/ios/Default@2x~universal~comcom.png" />
        <splash src="www/img/screens/ios/Default@3x~universal~anyany.png" />
        <splash src="www/img/screens/ios/Default@3x~universal~anycom.png" />
        <splash src="www/img/screens/ios/Default@3x~universal~comany.png" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="750" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="android" spec="~6.2.3" />
    <engine name="ios" spec="~4.4.0" />
</widget>
