body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap-and-holding */
    background-color: black;
    color: white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    width: auto;
    margin: 0;
    padding: 0;
}

a {
    color: orangered;
    text-decoration: none;
}

figure {
    width: auto;
    margin: 0;
    padding: 0;
}

.button-container {
    display: inline-block;
    margin: 0 10px;
    box-shadow: inset 0 0 8px black;
    border-radius: 12px;
    background: linear-gradient(to bottom, rgba(130, 190, 210, 0.8) 15%, rgba(70, 70, 70, 0.8) 40%, rgba(50, 50, 50, 0.8) 70%, rgba(80, 120, 140, 0.2) 80%, rgba(50, 50, 50, 0.8) 100%);
}

.button-container.dynamic {
    margin: 10px;
}

button {
    padding: 0 5px;
    border: 1px solid darkblue;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid darkslateblue;
    border-radius: 12px;
    color: lightgray;
    font-size: .9em;
    line-height: 1.5em;
    white-space: nowrap;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 0 8px 8px black;
}

.button-close {
    width: 30px;
    color: black;
    font-family: 'Creepster', serif;
    font-size: 1.3em;
    text-shadow: 0 0 5px orangered;
}

#title-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/title-art.jpg') no-repeat;
    background-color: black;
    background-size: 400px 600px;
    background-position: 50% 5%;
    width: 100%;
    height: 1000px;
    z-index: 30;
}

.logo {
    display: block;
    margin: 20px auto 0;
    width: 180px;
    height: 29px;
    background: url('../img/lcddreams_logo_transparent_sml.png') no-repeat;
    background-size: 180px 29px;
}

#title {
    top: 3%;
    font-size: 80px;
    color: orangered;
}

#app {
    text-align:center;
    padding: 0 3% 3%;
    margin: 0 auto;
}

.left-side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 3%;
    height: 800px;
    background-color: black;
    z-index: 6;
}

.right-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 3%;
    height: 800px;
    background-color: black;
    z-index: 6;
}

.creepy-text {
    font-family: 'Creepster', serif;
}

.body-container::-webkit-scrollbar
{
    width: 12px;
    border-radius: 10px;
    background-color: lightblue;
}

.body-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: darkslateblue;
}

#fear-effect {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: orangered;
    z-index: 20;
    opacity: 0;
}

/**
 *  Status bar
 */

.statusbar-container {
    position: fixed;
    z-index: 6;
    width: 94%;
    min-width: 350px;
    border-top: 20px solid black;
}

.statusbar {
    display: flex;
    justify-content: space-between;
    height: 26px;
    z-index: 6;
    padding: 10px;
    margin: 0 0 20px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(96,173,188,1) 0%,rgba(10,8,9,1) 100%);
    color: orangered;
    text-shadow: 1px 1px 2px black;
    border-bottom: 2px solid darkslategray;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -10px 20px 20px black;
}

.statusbar-section {
    flex-basis: 160px;
}

.statusbar-section:first-child {
    text-align: left;
}

.statusbar-section:last-child {
    text-align: right;
}

.statusbar .title {
    font-family: 'Creepster', serif;
    font-size: 1.4em;
}

.statusbar-button {
    width: 70px;
    height: 28px;
    margin: 0;
    font-size: .8em;
    background-color: transparent;
}

.statusbar-button-leftcap {
    float: left;
    margin-right: 0;
    border-radius: 12px 0 0 12px;
}

.statusbar-button-rightcap {
    float: right;
    margin-left: 0;
    border-radius: 0 12px 12px 0;
}

.statusbar-button-middle {
    margin: 0;
    border-radius: 0;
}

.button-highlight {
    background-color: orangered;
}

/**
 * Status message panel
 */

#status-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 70px;
    width: 94%;
    height: 40px;
    padding-bottom: 10px;
    opacity: .7;
    z-index: 5;

    background: rgb(96, 173, 188);
    border: 1px darkslateblue solid;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 2px black;
    cursor: pointer;
}

#status-panel.status-panel-open {
    height: 100px;
}

#status-messages {
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    max-height: 70px;
    padding: 10px 10px 0;
    text-align: left;
    color: white;
    font-size: 1em;
    overflow-y: hidden;
}

.status-panel-open #status-messages {
    height: 90px;
    overflow-y: auto;
}

#status-messages div {
    padding: 3px 0;
}

#stats {
    display: flex;
    align-items: center;
    flex-basis: 125px;
    padding: 10px;
    text-align: left;
    color: black;
    font-size: 1em;
    white-space: nowrap;
}

.status-panel-open #stats {
    flex-wrap: wrap;
}

.stat {
    display: flex;
    align-items: center;
    padding: 0 3px;
    white-space: nowrap;
}

#status-panel.status-panel-open .stat {
    padding: 3px 0
}

.stat label {
    display: none;
    cursor: pointer;
}

#status-panel.status-panel-open .stat label {
    display: inline-block;
}

.stats-bar {
    display: flex;
    align-items: center;
    width: 60px;
    height: 15px;
    background-color: orangered;
    border: 1px darkslateblue solid;
    border-radius: 10px;
}

.stats-bar-level {
    display: inline-block;
    height: 15px;
    background-color: green;
    border-radius: 10px;
}

.stats-value {
    margin: 0 4px;
}

.kills .stats-value {
    font-family: 'Creepster', serif;
    color: orangered;
    text-shadow: 1px 1px 2px black;
}

.life-bubble {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: green;
    border: 1px solid darkgreen;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
}

/**
 *  Grid
 */

.grid {
    margin: auto;
    padding-top: 68px;
    background-color: black;
    overflow: hidden;
}

#grid-cover {
    display: none;
    position: fixed;
    width: 95%;
    height: 100%;
    padding-top: 68px;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
}

.row {
    font-size: 0;
}

.tile {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.tile-ground-dungeon {
    background-image: url('../img/ground-dungeon.jpg');
    background-size: contain;
}

.tile-wall {
    background-image: url('../img/wall-dungeon.jpg');
    background-size: contain;
}

/**
 *  Lighting
 */

#canvas-lighting {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.light-img {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 3;
}

.light-img-trans {
    background-image: url('../img/trans.png');
}

/**
 * Characters
 */

.character {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 1;
    background-repeat: no-repeat;
}

.character-player {
    background-image: url('../img/character.png');
}

.character-shoggoth {
    background-image: url('../img/shoggoth.png');
}

.character-elder {
    background-image: url('../img/elder.png');
}

.character-zindex-raised {
    z-index: 2;
}

/**
 *  Tile Content
 */

.content {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 0;
    background-repeat: no-repeat;
}

.content-elder-sign {
    background-image: url('../img/elder-sign.png');
}

.content-stairs-up {
    background-image: url('../img/ground-dungeon-stairs-up.png');
}

.content-stairs-down {
    background-image: url('../img/ground-dungeon-stairs-down.png');
}

/**
 *  Modal
 */

.modal {
    display: none;
    position: absolute;
    z-index: 5;
    width: 80%;
    min-width: 250px;
    max-width: 600px;
    max-height: 600px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 20px;
    border: 2px darkslateblue solid;
    background: linear-gradient(to bottom, rgba(96, 173, 188, 1) 0%, rgba(50, 50, 50, 1) 97%, rgba(150, 150, 180, 1) 100%);
    box-shadow: 0 0 10px 6px black;
    color: black;
    font-size: 1em;
}

.modal-header {
    font-size: 2em;
    white-space: normal;
    padding: 10px;
    font-family: 'Creepster', serif;
    color: orangered;
    text-shadow: 1px 1px 2px black;
}

.modal-footer {
    margin: auto;
    padding: 20px 0 30px;
}

.modal .body-container {
    position: relative;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    margin-right: 2px;
}

.modal-section {
    position: relative;
    display: inline-block;
    width: 90%;
    left: 0;
    text-align: left;
    padding: 2% 5% 0;
    white-space: pre-wrap;
}

.subheader {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    vertical-align: middle;
}

.left-content {
    float: left;
}

.content-slide-left {
    left: -100%;
}

.modal-button {
    width: 100px;
    margin: 0;
    padding: 5px;
    background-color: transparent;
}

#modal-online-option {
    margin: 0 10px 0 0;
    padding: 5px 10px;
    float: left;
}

#leaderboard {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid black;
}

#leaderboard table {
    width: 100%;
    margin-top: 10px;
}

#leaderboard th, td {
    text-align: center;
    vertical-align: top;
    font-weight: normal;
}

#leaderboard ol {
    width: 20%;
    margin: auto;
}

.score-text {
    font-size: 2em;
    font-family: 'Creepster', serif;
    color: orangered;
    text-shadow: 1px 1px 2px black;
    vertical-align: middle;
}

.column-header {
    width: 33%;
    font-size: 1.2em;
}

.score-headers {
    display: inline-block;
    width: 40%;
}

/**
 * Dynamic Panel
 */

.panel {
    display: none;
    position: fixed;
    z-index: 6;
    min-width: 300px;
    max-width: 90%;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    border: 1px darkslateblue solid;
    background: linear-gradient(to bottom, rgba(96, 173, 188, 1) 0%, rgba(50, 50, 50, 1) 97%, rgba(150, 150, 180, 1) 100%);
    box-shadow: 0 0 10px 6px black;
    color: black;
    font-size: 1em;
}

.panel-container {
    margin: 50px 20px 20px;
}

.panel-header {
    font-size: 1.5em;
    text-shadow: 0 0 5px orangered;
}

.panel-body-container .dynamic {
    margin: 20px auto;
}

.panel-option-label {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: right;
    font-size: 1.1em;
    text-shadow: 0 0 5px orangered;
}

.panel-options {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    position: relative;
}

#panel-options-diff {
    white-space: nowrap;
}

.panel-option {
    position: relative;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid darkslategray;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid black;
}

.option-highlight {
    color: yellow;
    text-shadow: 1px 1px 1px black;
    background-color: darkslategray;
    border-top: 1px solid black;
    border-bottom: 1px solid lightblue;
}

#modal-online-option.panel-option {
    background-color: slateblue;
}

#modal-online-option.option-highlight {
    background-color: orangered;
}

.option-disabled {
    opacity: 0.3;
    cursor: default;
}

.panel-footer {
    margin: 10px 0;
    white-space: pre;
}

.panel-footer .button-container {
    margin: 10px;
}

.panel-button {
    width: 120px;
    height: 35px;
    background-color: transparent;
}

#panel-close-button {
    position: absolute;
    top: 10px;
    right: 0;
}

.panel-button.button-close {
    width: 30px;
}

/**
 * PC Panels
 */

#pc-panels {
    position: fixed;
    top: 125px;
    left: 3%;
    height: 0;
    z-index: 4;
}

#pc-panels > div {
    position: relative;
    width: 350px;
    min-height: 150px;
    max-height: 300px;
    opacity: 0.8;
    left: -110%;
    border-radius: 0 15px 15px 0;
    border: 1px darkslateblue solid;
    background: rgb(96, 173, 188);
    box-shadow: 2px 0 2px black;
    color: black;
    font-size: 1em;
}

#pc-panels .show-panel {
    left: 0;
}

#pc-panels header {
    margin: 10px 20px;
    font-family: 'Creepster', serif;
    font-size: 1.5em;
    text-shadow: 0 0 5px orangered;
}

#pc-panels footer {
    margin: 20px;
}

#pc-panels .body-container {
    max-height: 200px;
    margin: 0 20px;
    padding: 0 10px 0 0;
    overflow: auto;
    white-space: normal;
    text-align: left;
}

#pc-panels .body-container::-webkit-scrollbar
{
    width: 12px;
}

#pc-panels .body-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: darkslateblue;
}

.quest-completed-header {
    margin: 10px 0;
    border-bottom: 1px solid darkslateblue;
    color: darkslateblue;
}

.quest-name {
    font-weight: bold;
}

.quest-description {
    margin-bottom: 20px;
}

/**
 * Animations
 */

.move-up {
    margin-top: -64px;
}

.move-down {
    margin-top: 64px;
}

.move-right {
    margin-left: 64px;
}

.move-left {
    margin-left: -64px;
}

.face-right {
    transform: scaleX(1);
}

.face-left {
    transform: scaleX(-1);
}

.blood-human {
    position: absolute;
    background-image: url('../img/blood_human.png');
    background-size: 64px 64px;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    opacity: 0;
    z-index: 2;
}

.blood-monster {
    position: absolute;
    background-image: url('../img/blood_monster.png');
    background-size: 64px 64px;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    opacity: 0;
    z-index: 2;
}
