
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: black;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

div {
    width: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

figure {
    width: auto;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    font-size: 2em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
}

/* Portrait layout (default) */
#app {
    text-align:center;
    padding: 3%;
    margin: 30px auto 0;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #app {
    }
}

.grid {
    background-color:black;
    color: white;
    margin: auto;
}

.row {
    font-size: 0;
}

.tile {
    display: inline-block;
    width: 9%;
    max-width: 64px;
    max-height: 64px;
}

.tile-ground-dungeon {
    background-image: url('../img/ground-dungeon.jpg');
    background-size: contain;
}

.tile-wall {
    background-image: url('../img/wall-dungeon.jpg');
    background-size: contain;
}

.light-img {
    z-index: 2;
    position: absolute;
}

.dialog {
    display: none;
    position: absolute;
    z-index: 5;
    width: 60%;
    height: 60%;
    padding: 10px;
    margin: 0 0 0 -30%;
    left: 50%;
    border-radius: 4px;
    border: 2px darkviolet solid;
    background-color: lightblue;
    box-shadow: 0 0 10px 10px black;
}

.dialog-container {
    position: relative;
    height: 100%;
}

.dialog-body {
    padding: 20px;
}

.dialog button {
    display: none;
    width: 100px;
    line-height: 2em;
    margin: 10px;
    background-color: darkviolet;
    color: white;
    border: 1px darkgray solid;
    border-radius: 6px;
    box-shadow: 0 0 8px 2px gray;
    cursor: pointer;
}

.dialog button:active {
    box-shadow: 0 0 4px 2px black;
}
